#div-ArtDesign1-container{
    width: 100vw;
    height: 100%;

    .div1{
        background-image: linear-gradient(#d3b1f4, #fbc6d9);
        height: 300px;
        width : 100%;
    }

    #div2{
        background-color: #fff6ef ;
        height: 100%;
        width : 100%;
        margin-bottom: 50px;
        padding-bottom: 50px;
       
       
        .left{
            margin-right: 50px;
            margin-top : -100px;
            background-color: white;
            border-radius: 20px;
            max-width: 450px;
            padding: 35px;
    
            *{
                text-align: left;
            }
    
            h1{
                color: #702bb1;
                text-align: left !important;
                margin: 10px 0;
                padding: 10px 0;
                font-family: Montserrat,sans-serif;
                font-weight: 700;line-height: 1.1;
                font-size: 3rem;
            }
            p{
                letter-spacing: normal;
              font-size: 1.225rem;
              font-weight: 400;
              line-height: 31px;
              text-transform: none;
              margin: 20px 0 0;
            }
    
            button{
                background-color: #702bb1;
                padding: 20px 25px;
                color: white;
                border:none;
                border-radius: 15px;
                text-transform:uppercase;
                margin: 20px 0;
                font-weight: 600;
                font-size: 16px;
            }
            
        }
    
    }
    
    

}





#sphere {
    margin-top : -110px;
    width: 220px;
    height: 220px;
}

#croissant{
    margin-left: 20px;
    margin-top : -100px;
    width: 213px;
  height: 227px;
}

#cube{
    margin-top: 15vh;
    padding-left:50px;
    width: 147px;
    height: 127px;
}

.div3 img{
    width: 700px;
    height: 250px;;
}

@media only screen and (max-device-width: 780px){

   #div2 .left{
    max-width: 400px;
    min-width: 300px;
   }
   #div2 #right{
    max-width: 300px;
    min-width: 200px;
   }

   .div3 img{
    width: 100%;
    height: auto;
}
}


@media only screen and (max-device-width: 500px){

    #div2 .d-flex{
        display: none !important;
    }
    #div2 .left{
        margin: 25px;
    }
    
 }