.page-liste-templates-website {
    width: 100vw;

    #categorie,
    #block-design {
        border-bottom: 2px solid #20364d;
        width: 95vw;
        margin: 10px auto;

        div {
            margin: 10px;
            font-size: 18px;

            a {
                color: #20364d;
                text-decoration: none;
            }
        }
    }

    .div-bar {
        width: 100%;
        height: 200px;
        // background: radial-gradient(circle, rgb(78, 193, 217) 0%, rgb(148, 186, 233) 100%);
        background: radial-gradient(circle, #20364d 0%, rgb(51, 74, 102) 100%);
        background: radial-gradient(circle,#cedfd6 0,#6f91bb 100%);
        color: white;
        text-align: center;
        line-height: 200px;
        font-size: 45px;
        font-weight: 600;
    }

    #div-liste-templates-website {
        margin: 50px 10px;

        .item {
            margin: 25px;

            a {
                text-decoration: none;
                color: #232325;
                width: 420px;
                margin: 10px;


                .image {
                    border: 0.3px solid grey;
                    border-radius: 5px;
                    width: 420px;
                    height: 300px;
                    object-fit: cover;
                }



                p {
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    font-size: 19px;

                }
            }
        }
    }

}


@media(max-width:650px) {

    #categorie,
    #block-design {
        width: 95vw;
    }


        .item {
            margin: 25px auto;


            a {
                margin: 0;
            }

            p {
                margin: 10px 0;

            }

            .image {
                width: 100%;
            }
        }
    }


@media(max-width:430px) {
    #div-liste-templates-website {
        margin: 20px 0 !important;

    .item {
        width: 90vw;
        margin: 0;

        a{
            display: block;
            width: 90vw !important;
            margin: 0 !important;

        }
        .image {
            width: 90vw !important;
            margin: 0;

        }
    }
}

}