body{ margin: 0;
    padding: 0;}
.page-template10 {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    #image0 {
        width: 700px;
        height: 400px;
        object-fit: cover;
        margin: 15px;
        position: sticky;
    }

    #citation-logo {
        width: 70px;
        height: 70px;
        margin: 15px;

        svg {
            color: coral;
        }
    }

    #citation-content {
        width: 700px;
        text-align: center;
        font-size: 30px;
        font-weight: 200;
        margin: 15px;

    }

    #auteur {
        margin: 15px;
        margin-bottom: 45px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
        font-weight: 700;
    }
footer{
    background-color: black;
    width: 100vw;
    height: 80px;
    color: white;
    text-align: center;
    line-height: 80px;
    bottom: 0;
    left: 0;
    position: relative;
}
}