#div-un-article{
    height: 300px; 
    margin: 10px;
    border: 0.2px solid gray;
    background-color: white;
    font-size: 16px !important;
  
    #image-article{
        height: 300px; 
        width: 400px;
        object-fit: cover;
    }

    #div-un-article-texte{
        padding: 15px;
        height: 300px; 

        h1{
            font-size: 23px;
            font-weight: 300;
        }

        .titre-desciption p {
            font-size: 17px;
            font-weight: 300;
        }
        

        .titre-desciption{
        }
        
        .div-commentaire-like{
            font-size: 14px !important;
        
        }
         #div-personna{
        
            p{
                padding: 0 10px;
                margin: 0;
                font-size: 13px ;
             }
        }

        
    }

    @media(max-width:710px) {
    
        height:  55vw;
        width: 90vw;
        padding: 0;
        margin: 20px auto; 

        
    #image-article{
        height:  55vw;
        width: 30vw;
    }

    #div-un-article-texte{
        height:  55vw;
        width: 60vw;
        div{
            margin-bottom: 4px ;
        }
        h1{
            font-size: 19px;
        }
        .titre-desciption p {
            font-size: 15px;
        }

    }
    }

    @media(max-width:510px) {
    
        height: auto;
        width: 95vw;
        padding: 0;
        margin: 20px auto; 
        flex-direction: column !important;

    
        
    #image-article{
        height: auto;
        width: 95vw;

    }

    #div-un-article-texte{
        height: max-content;
        width: 100% ;
        div{
            margin-bottom: 10px ;
        }

    }
    }


}