.div-FoodRestaurantNutrition2-container {
    margin: 0;
    padding: 0;

     .div0 {
         margin: 0;
         padding: 0;
         background-image: url("https://static.wixstatic.com/media/5305c5_1644b8eb4f0d4ed7bf307cb7d2a6ab28~mv2_d_6000_4000_s_4_2.jpeg/v1/fill/w_1536,h_940,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5305c5_1644b8eb4f0d4ed7bf307cb7d2a6ab28~mv2_d_6000_4000_s_4_2.jpeg");
         height: 100vh;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         margin-bottom: 100px;
 
         * {
             color: white;
         }
 
         h1 {
             padding-top: 40vh;
             font-size: 70px;
             padding-left: 15vh;
         }
 
         p {
             font-weight: 200;
             margin-left: 15vh;
         }
 
         button {
             margin-left: 15vh;
             padding: 8px 15px;
             background-color: transparent;
             color: white;
             border: 0.2px solid white;
         }
 
         button:hover {
             color: black;
             background-color: white;
         }
     }
 
     #div1 {
         background-color: #f4f3ef !important;
         height: auto;
         padding: 50px 0;
 
         .div-les-articles {
             width: 700px;
         }
 
         .div-right-of-les-articles {
             width: 350px;
 
             .div-auteur {
                 min-width: 350px;
                 background-color: white;
                 padding-bottom: 40px;
                 margin: 10px;
 
 
                 img {
                     max-width: 350px;
                 }
 
                 h1 {
                     color: #107070;
                     font-size: 40px;
                     padding: 0 40px;
 
                 }
 
                 p {
                     padding: 0 40px;
                     font-weight: 200;
                 }
 
                 a {
                     padding: 0 40px;
                     text-transform: uppercase;
                     color: #107070;
                     text-decoration: underline;
                 }
             }
 
             img{
                 width: 350px;
                 height: auto;
                 margin: 10px;
             }
 
             .div-resaux-sociaux{
                 width: 350px;
                 background-color: #107070;
                 color: white;
                 margin: 10px;
                 padding: 15px 0;
                 text-align: center;
                 svg{
                     padding: 15px;
                 }
             }
 
             .div-sabonner{
                 width: 350px;
                 background-color:  white;
                 margin: 10px;
                 text-align: center;
                 padding: 20px 0;
                 input{
                     padding: 7px 15px;
                     margin: 10px auto;
                     outline: none;
                     width: 250px;
                     border: 0.9px solid  black;
                 }
                 button{
                     background-color: #107070;
                     color: white;
                     font-size: 16px;
                     border:none;
                     padding: 7px 10px;
                     margin: 10px auto;
                     width: 285px;
 
                 }
             }
         }
     }
 
     #div2{
    
         padding: 50px 0;
         img{
             width: 250px;
             height: 250px;
             object-fit: cover;
             margin: 5px;
         }
     }
 }