.div-InteriorDesign1-container 
#div-image-container {
    padding-top: 50px;

    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        padding: 10px;
    }

    h2 {
        padding: 10px;
        width: 850px;
        text-align: center;
        line-height: 55px;
        font-weight: 200;
        font-size: 29px;
    }
}