body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}



.template4 {
    padding: 50px;
    width: 100vw;

    .column {
       
        div {
            width: 350px;
            height: 350px;
            box-sizing: border-box;
        }

        img {
            width: 350px;
            height: 350px;
            object-fit: cover;
            margin: 10px 0;
        }
    }

    @media(max-width:1000px) {
        .d-flex {
            flex-wrap: wrap !important;
        }

    }
    @media(max-width:600px) {

        .d-flex {
            flex-direction: column !important;
        }

    }
}

.div-text {

    padding: 20px;

    * {
        margin: 20px 0;
    }

    h1 {
        font-size: 29px;
        margin: 0;
        margin-bottom: 20px;
        max-width: 350px;
    }

    p {
        font-weight: 200;
        font-size: 20px;

    }

 
}