#div-Education6-body {
    background: radial-gradient(#cedfd6 40%, #6f91bb 100%);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;


    #div-Education6-container {
        background-color: #232931;
        padding: 0;
        color: #efefef;
        border-radius: 15px;
        padding-bottom: 15px;
        width: 50vw;

        .list-button-top {

            button {
                border: none;
                background-color: #232931;
                color: #efefef;
                padding: 25px 35px;
                border-bottom: 1px solid #6f91bb;
                font-size: large;
                width: 30%;

            }

            button:first-child {
                border-radius: 15px 0 0 0;
            }

            button:last-child {
                border-radius: 0 15px 0 0;
            }
        }

        #time {
            font-weight: 800;
            font-size: 45px;
            text-align: center;
            margin: 50px 0;
        }

        .list-button-bottom {
            button {
                border: none;
                background-color: #232931;
                color: #8d9094;
                padding: 25px 35px;
                width: 20%;
                font-size: large;

            }

            #btn-start{
                background-color: #6f91bb;
                color : #232931;
                border-radius: 15px;
                padding: 8px 27px;

            }

        }
    }

}